@import "colors";
@import "sizing";

html {
    font-size: 20px;
}
body {
    font-family: "Assistant", sans-serif;
    margin: auto;
    font-size: 20px;
    background: $bg;
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    width: 100%;
    color: $black;
}
date {
    font-weight: 300;
    display: block;
}
a {
    color: $green-ll;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $green;
    }
}
.loading {
    margin: 5rem auto;
    text-align: center;
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: -45px;
    opacity: 0;
    transition: .2s;
    z-index: -300;
    &.active {
        opacity: 1;
    }
    img {
        height: 90px;
        width: 90px;
    }
}
.block {
    padding: 1rem;
    background: $bg-hhl;
    &.sec {
        background: $bg-hl;
    }
}
.sec {
    background: $bg-hl;
}
#sidebar {
    background: $white;
    height: 100vh;
    transition: .5s;
    &:hover {
        label {
            opacity: 1;
        }
    }
    #logo {
        a {
            padding-top: 1rem;
            background: $green;
            &:hover {
                background: $black;
                color: $green;
                path:last-child {
                    fill: $green;
                }
            }
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            a {
                padding: .75rem .7rem 0.5rem .7rem;
                color: $black;
                display: block;
                text-align: center;
                &.sec {
                    background: $bg-hl;
                    border-left: .5rem solid rgba($black, .25);
                }
                &:hover, &.active {
                    background: $black;
                    color: $bg;
                }
                i {
                    font-size: 1.75rem;
                    display: block;
                }
                label {
                    display: block;
                    font-size: .9rem;
                    margin-top: -.1rem;
                    transition: .2s;
                    opacity: 0;
                    font-weight: 300;
                    cursor: pointer;
                }
            }
        }
    }
}
#content {
    height: 100vh;
    overflow: scroll;
}
#art, #code, #blog {
    opacity: 0;
    transition: .5s;
    &.active {
        opacity: 1;
    }
    padding: 0;
    margin: 0;
    .post {
        display: block;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
        transition: .2s;
        filter: grayscale(.8);
        &:hover {
            filter: grayscale(0);
        }
        .overlay {
            padding: 1rem 1rem;
            color: $white;
            font-size: 1.3rem;
            font-weight: 300;
            text-align: right;
            height: 100%;
            box-sizing: border-box;
            background: rgba($black, .4);
        }
    }
    @media (min-width: 30rem) {
        .post .overlay {
            padding: 2rem 1rem;
        }
    }
    @media (min-width: 40rem) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 55rem) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 75rem) {
        grid-template-columns: repeat(4, 1fr);
    }
}
#code, #blog {
    .post.code {
        background-position: top;
    }
}
#post {
    height: 98vh;
    box-sizing: border-box;
    padding: 1rem;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    date {
        margin-bottom: .5rem;
    }
    @media (min-width: 40rem) {
        display: grid;
        grid-gap: 1rem;
        grid-template: 1fr / 1fr;
        .body {
            justify-self: center;
        }
    }
}
#post.art {
    @media (min-width: 50rem) {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto;
        img, .body {
            box-sizing: border-box;
            grid-column-start: 2;
            z-index: 1000;
            margin: auto;
        }
    }
    #prev, #next {
        display: none;
        @media (min-width: 50rem) {
            display: inline-block;
            align-self: center;
            background: $green;
            color: $bg;
            height: 2em;
            width: 2em;
            box-sizing: border-box;
            transition: .2s;
            font-size: 1.9rem;
            &:hover {
                background: $black;
                color: $green;
            }
        }
        i {
            font-size: inherit;
            vertical-align: middle;
        }
    }
    #prev {
        justify-self: right;
        margin-right: -1em;
        border-radius: 50% 0 0 50%;
        padding: .25em .05em;
    }
    #next { 
        justify-self: left;
        margin-left: -1em;
        border-radius: 0 50% 50% 0;
        padding: .25em .05em .25em .9em;
    }
}
#post.code {
    .hero {
        text-align: center;
    }
    @media (min-width: 40rem) {
        padding: 1rem 3rem;
        .hero {
            height: 100%;
            width: 100%;
        }
    }
    @media (min-width: 60rem) {
        padding: 1rem 5rem;
        grid-template-columns: 50% 50%;
        align-content: center;
        height: 100vh;
        .hero {
            justify-self: center;
            max-height: 100%;
        }
    }
    .body {
        max-width: 100%;
        > a {
            max-width: 100%;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 1rem;
        }
        .link {
            padding: .25rem 0;
            i {
                color: $black;
                font-size: 2rem;
                margin-right: .25rem;
                vertical-align: middle;
            }
        }
        .github {
            padding: .25rem 0;
            img {
                height: 2rem;
                width: 2rem;
                margin-right: .5rem;
                vertical-align: middle;
            }
        }
    }
}
#resume {
    padding: 1rem;
    .job {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .job, .block {
        background: $bg-hhl;
        padding: 1rem;
        margin-bottom: 1rem;
        h3 {
            margin: 0 0 .75rem 0;
            font-weight: bold;
            display: inline-block;
            date {
                margin-left: .5rem;
                font-size: 1rem;
                color: $gray;
                display: inline-block;
            }
        }
        h4 {
            font-weight: 400;
            margin: 0;
            color: $gray-hl;
        }
        .tech {
            font-weight: 100;
            .tag {
                margin: .5rem .5rem 0 0;
                display: inline-block;
                padding: .25rem .5rem;
                background: rgba($bg, .8);
            }
        }
    }
    @media (min-width: 40rem) {
        .block, .job {
            margin: 0;
        }
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    @media (min-width: 50rem) {
        padding: 1rem 2rem;
    }
    @media (min-width: 70rem) {
        padding: 1rem 5rem;
    }
}
#contact {
    padding: 1rem;
    > .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        text-align: center;
    }
    img {
        width: 2rem;
        height: auto;
    }
    i {
        font-size: 2rem;
    }
    img, i {
        margin-bottom: 1rem;
        color: $black;
    }
    #links {
        grid-column: 3 / span 2;
        grid-row: 1 / span 3;
        a {
            display: inline;
        }
    }
    @media (min-width: 40rem) {
        .block {
            margin: 0;
        }
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        #links {
            grid-column: span 2;
            grid-row: 3;
        }
    }
    @media (min-width: 50rem) {
        padding: 1rem 2rem;
        grid-template-columns: repeat(3, 1fr);
        #links {
            grid-column: 2 / span 2;
            grid-row: 1 / span 3;
        }
    }
    @media (min-width: 70rem) {
        padding: 1rem 5rem;
        grid-template-columns: repeat(4, 1fr);
        #links {
            grid-column: 3 / span 2;
            grid-row: 1 / span 3;
        }
    }
}
#home {
    padding: 1rem;
    @media (min-width: 50rem) {
        padding: 3rem;
    }
    @media (min-height: 50rem) {
        padding: 5rem 3rem;
    }
    @media (min-height: 60rem) {
        padding: 7rem 3rem;
    }
    max-width: 75rem;
    margin: auto;
    display: block;
    font-size: 1.3rem;
    box-sizing: border-box;
    .block {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #bio {
        grid-row: span 2;
        font-size: 1rem;
        line-height: 1.4;
    }
    .art, .code {
        display: none;
    }
    i {
        margin-bottom: 1rem;
        font-size: 2em;
        color: $black;
    }
    @media (min-width: 40rem) {
        display: grid;
        height: 98vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        .block {
            margin: 0;
            display: flex;
        }
        .blog, .contact, .resume {
            grid-column: span 2;
        }
    }
}