body {
    font-family: "Assistant", sans-serif;
    margin: auto;
    font-size: 18px;
    background: #e7e7e7;
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    width: 100%;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
#sidebar {
    background: #fff;
    height: 100vh;
    width: 5rem;
    transition: .5s;
    * {
        opacity: 0;
        transition: .5s;
    }
    &:hover {
        * {
            opacity: 1;
        }
        width: 10rem;
    }
}
#content {
    height: 100vh;
    overflow: scroll;
}
#art {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .post {
        display: block;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
        .overlay {
            transition: .3s;
            display: absolute;
            padding: 3rem 1rem;
            color: #fff;
            font-size: 1.3rem;
            font-weight: 300;
            text-align: right;
            background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 100%);
            &:hover {
                background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.75) 100%);
            }
        }
    }
}
#post {
    img {
        max-width: 100%;
        margin: 1rem auto;
        max-height: 70vh;
    }
    date {
        font-weight: 300;
        margin-bottom: .5rem;
        display: block;
    }
}