$black: #333;
$green: #5fd3bb;
$bg: #e7e7e7;
html {
    font-size: 20px;
}
body {
    font-family: "Assistant", sans-serif;
    margin: auto;
    font-size: 20px;
    background: $bg;
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    width: 100%;
    color: $black;
}
date {
    font-weight: 300;
    display: block;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
#sidebar {
    background: #fff;
    height: 100vh;
    transition: .5s;
    &:hover {
        label {
            opacity: 1;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            a {
                padding: 1rem 1rem 0.5rem 1rem;
                color: $black;
                display: block;
                text-align: center;
                &.sec {
                    background: #eee;
                }
                &:hover, &.active {
                    background: $black;
                    color: #fff;
                }
                i {
                    font-size: 2.3rem;
                    display: block;
                }
                label {
                    display: block;
                    font-size: .9rem;
                    margin-top: -.1rem;
                    transition: .2s;
                    opacity: 0;
                    font-weight: 300;
                }
            }
        }
    }
}
#content {
    height: 100vh;
    overflow: scroll;
}
#art, #code, #blog {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .post {
        display: block;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
        .overlay {
            transition: .3s;
            display: absolute;
            padding: 3rem 1rem;
            color: #fff;
            font-size: 1.3rem;
            font-weight: 300;
            text-align: right;
            background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 100%);
            &:hover {
                background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.75) 100%);
            }
        }
    }
}
#post {
    height: 98vh;
    display: grid;
    box-sizing: border-box;
    padding: 1rem;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    date {
        margin-bottom: .5rem;
    }
}
#post.art {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;
    img, .body {
        box-sizing: border-box;
        grid-column-start: 2;
        justify-self: center;
        align-self: center;
    }
}
#post.code {
    padding: 0 5rem;
    grid-template-columns: 1fr 1fr;
    .body {
        padding: 1rem;
    }
}
.loading {
    margin: 5rem auto;
    text-align: center;
    display: block;
}
#resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 5rem;
    grid-gap: 1rem;
    .job {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #fff;
        padding: 1rem;
        h3 {
            margin: 0 0 .75rem 0;
            font-weight: bold;
            display: inline-block;
            date {
                margin-left: .5rem;
                font-size: 1rem;
                color: #666;
                display: inline-block;
            }
        }
        h4 {
            font-weight: 400;
            margin: 0;
            color: #777;
        }
        .tech {
            font-weight: 100;
            .tag {
                margin: .5rem .5rem 0 0;
                display: inline-block;
                padding: .25rem .5rem;
                background: #eee;
            }
        }
    }
}