@import 'colors';
@import 'sizing';
html {
    font-size: 16px;
    @media (min-width: $sm-md) {
        font-size: 20px;
    }
}

body {
    font-family: 'Assistant', sans-serif;
    margin: auto;
    background: $bg;
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    width: 100%;
    color: $black;
}

date {
    font-weight: 300;
    display: block;
}

a {
    color: $green-ll;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $green;
    }
}

.loading {
    margin: 5rem auto;
    text-align: center;
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: -45px;
    opacity: 0;
    transition: 0.2s;
    z-index: -300;
    &.active {
        opacity: 1;
    }
    img {
        height: 90px;
        width: 90px;
    }
}

.block {
    padding: 1rem;
    background: $bg-hhl;
    &.sec {
        background: $bg-hl;
    }
}

.sec {
    background: $bg-hl;
}

@import 'sidebar';
#content {
    height: 100vh;
    overflow-y: auto;
    padding: 0;
}

#art,
#code,
#blog {
    opacity: 0;
    transition: 0.5s;
    &.active {
        opacity: 1;
    }
    padding: 0;
    margin: 0;
    .post {
        display: block;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
        transition: 0.2s;
        filter: grayscale(0.8);
        &:hover {
            filter: grayscale(0);
        }
        .overlay {
            padding: 1rem 1rem;
            color: $white;
            font-size: 1.3rem;
            font-weight: 300;
            text-align: right;
            height: 100%;
            box-sizing: border-box;
            background: rgba($black, 0.4);
        }
    }
    @media (min-width: $xs-sm) {
        .post .overlay {
            padding: 2rem 1rem;
        }
    }
    @media (min-width: $sm-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $md-lg) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $lg-xl) {
        grid-template-columns: repeat(4, 1fr);
    }
}

#code,
#blog {
    .post.code {
        background-position: top;
    }
}

#post {
    height: 98vh;
    box-sizing: border-box;
    padding: 1rem;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    date {
        margin-bottom: 0.5rem;
    }
    @media (min-width: $sm-md) {
        display: grid;
        grid-gap: 1rem;
        grid-template: 1fr / 1fr;
        .body {
            justify-self: center;
        }
    }
}

#post.art {
    @media (min-width: $sm-md) {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto;
        img,
        .body {
            box-sizing: border-box;
            grid-column-start: 2;
            z-index: 1000;
            margin: auto;
        }
    }
    #prev,
    #next {
        display: none;
        @media (min-width: $sm-md) {
            display: inline-block;
            align-self: center;
            background: $green;
            color: $bg;
            height: 2em;
            width: 2em;
            box-sizing: border-box;
            transition: 0.2s;
            font-size: 1.9rem;
            &:hover {
                background: $black;
                color: $green;
            }
        }
        i {
            font-size: inherit;
            vertical-align: middle;
        }
    }
    #prev {
        justify-self: right;
        margin-right: -1em;
        border-radius: 50% 0 0 50%;
        padding: 0.25em 0.05em;
    }
    #next {
        justify-self: left;
        margin-left: -1em;
        border-radius: 0 50% 50% 0;
        padding: 0.25em 0.05em 0.25em 0.9em;
    }
}

#post.code {
    .hero {
        text-align: center;
        width: 100%;
    }
    @media (min-width: $xs-sm) {
        padding: 1rem 3rem;
    }
    @media (min-width: $sm-md) {
        padding: 1rem;
        grid-template-columns: 50% 50%;
        align-content: center;
        height: 100vh;
        .hero {
            justify-self: center;
            max-height: 100%;
        }
    }
    @media (min-width: $md-lg) {
        grid-template-columns: 1fr 1fr;
        padding: 1rem 3rem;
    }
    @media (min-width: $lg-xl) {
        padding: 2rem 5rem;
    }
    .body {
        max-width: 100%;
        >a {
            max-width: 100%;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 1rem;
        }
        .link {
            padding: 0.25rem 0;
            i {
                color: $black;
                font-size: 2rem;
                margin-right: 0.25rem;
                vertical-align: middle;
            }
        }
        .github {
            padding: 0.25rem 0;
            img {
                height: 2rem;
                width: 2rem;
                margin-right: 0.5rem;
                vertical-align: middle;
            }
        }
    }
}

@import 'pages/contact';
@import 'pages/home';
@import 'pages/resume';