<div id="post" ng-show="post">
        <h3>{{post.title}}</h3>
        <date>{{post.date*1000 | date:"longDate"}}</date>
        <p ng-show="post.body">{{post.body}}</p>
        <div ng-switch="!!post.codepen">
            <p ng-switch-when="true" data-height="500" data-theme-id="dark" data-slug-hash="{{post.codepen}}" data-default-tab="result" data-user="kenziebottoms" data-embed-version="2" data-pen-title="Dragon curve" class="codepen">
                See the Pen <a href="https://codepen.io/kenziebottoms/pen/{{post.codepen}}/">Dragon curve</a> by Kenzie Bottoms (<a href="https://codepen.io/kenziebottoms">@kenziebottoms</a>) on <a href="https://codepen.io">CodePen</a>.
            </p>
            <div ng-switch-when="true" ng-script="https://production-assets.codepen.io/assets/embed/ei.js"></div>
        </div>
    </div>