<div id="home">
    <a class="block blog" href="#!/projects">
        <i class="material-icons">extension</i>
        Projects
    </a>
    <a class="block resume" href="#!/resume">
        <i class="material-icons">history</i>
        R&eacute;sum&eacute;
    </a>
    <a class="block art sec" href="#!/projects/art">
        <i class="material-icons">color_lens</i>
        Art
    </a>
    <a class="block code sec" href="#!/projects/code">
        <i class="material-icons">code</i>
        Code
    </a>
    <a class="block contact" href="#!/contact">
        <i class="material-icons">info_outline</i>
        Contact
    </a>
</div>