<div id="home">
    <div id="bio" class="block resume">
        Kenzie Bottoms is a feminist, artist, and developer born, raised, and still in Nashville. They are always open to new opportunities, technical or creative, and their default mindset, for better or worse, is usually, "Challenge accepted." They are currently at Nashville Software School learning full-stack Node.js development and learning how to skate with the Nashville Rollergirls.
    </div>
    <a class="block blog" href="/#!/projects">
        <i class="material-icons">extension</i>
        Projects
    </a>
    <a class="block art sec" href="/#!/projects/art">
        <i class="material-icons">color_lens</i>
        Art
    </a>
    <a class="block code sec" href="#!/projects/code">
        <i class="material-icons">code</i>
        Code
    </a>
    <a class="block resume" href="/#!/resume">
        <i class="material-icons">history</i>
        R&eacute;sum&eacute;
    </a>
    <a class="block contact" href="/#!/contact">
        <i class="material-icons">info_outline</i>
        Contact
    </a>
</div>