<div class="page" id="home">
    <div id="bio" class="block resume">
        <p>Kenzie Bottoms is a feminist, artist, and developer born and raised in Nashville. <a href="https://en.wikipedia.org/wiki/Singular_they" target="blank">They</a> are always open to new opportunities, technical or creative (or better yet, both), and their default mindset, for better or worse, is usually, "Challenge accepted." They skate with <a href="https://www.nashvillerollerderby.com/" target="blank">Nashville Roller Derby</a> under the name <a href="https://en.wikipedia.org/wiki/Ellen_Ripley" target="blank">Ellen R.I.P.ley</a>. They are a full-stack Node.js <a href="http://nashvillesoftwareschool.com/" target="blank">Nashville Software School</a> graduate, and have recently begun development work with <a href="https://fortyau.com/" target="blank">FortyAU</a>.</p>
    </div>
    <a class="block achievements" href="/#!/achievements">
        <i class="material-icons">stars</i>
        Achievements    
    </a>
    <a class="block art" href="/#!/projects/art">
        <i class="material-icons">color_lens</i>
        Art
    </a>
    <a class="block code" href="/#!/projects/code">
        <i class="material-icons">code</i>
        Code
    </a>
    <a class="block resume" href="/#!/resume">
        <i class="material-icons">assignment_ind</i>
        Resume
    </a>
    <a class="block links" href="/#!/links">
        <i class="material-icons">launch</i>
        Links
    </a>
    <a class="subtext" href="https://github.com/kenziebottoms/kenziebottoms.github.io" target="blank">Source on GitHub</a>
</div>