<div class="page" id="links">
    <a class="block" target="blank" href="mailto:{{links.email}}">
        <i class="material-icons">email</i>
        Email
    </a>
    <a class="block" target="blank" href="{{links.github}}">
        <img src="assets/img/github.svg"> Github
    </a>
    <a class="block" target="blank" href="{{links.instagram}}">
        <img src="assets/img/insta.svg"> Instagram
    </a>
    <a class="block" target="blank" href="{{links.twitter}}">
        <img src="assets/img/twitter.svg"> Twitter
    </a>
    <a class="block" target="blank" href="{{links.linkedin}}">
        <img src="assets/img/linkedin.svg"> LinkedIn
    </a>
    <a class="block" target="blank" href="{{links.codepen}}">
        <img src="assets/img/codepen.svg"> CodePen
    </a>
    <a class="block" target="blank" href="{{links.vsmarketplace}}">
        <img src="assets/img/vscode.png"> Visual Studio Marketplace
    </a>
    <a class="block" target="blank" href="{{links.artstation}}">
        <img src="assets/img/artstation.svg"> ArtStation
    </a>
    <a class="block" target="blank" href="{{links.society6}}">
        <img src="assets/img/society6.png"> Society6
    </a>
    <a class="block" target="blank" href="{{links.redbubble}}">
        <img src="assets/img/redbubble.svg"> RedBubble
    </a>
    <a class="block" target="blank" href="{{links.artistsnclients}}">
        <img src="assets/img/artistsnclients.png"> Artists&amp;Clients
    </a>
</div>

