<ul ng-controller="MenuCtrl">
    <li id="logo">
        <a ng-class="{active: state.current.name == 'home'}" href="/#!/">
            <div ng-include="'assets/img/kb.svg'"></div>
            <label>home</label>
        </a>
    </li>
    <li ng-repeat="item in items">
        <a ng-class="{active: state.current.name == item.name, sec: item.sec}" href="/#!/{{item.href}}">
            <i class="material-icons">{{item.icon}}</i>
            <label>{{item.name}}</label>
        </a>
    </li>
</ul>