<div class="page" id="blog" ng-class="{active: blog}">
    <div class="post" ng-class="{code: post.link || post.script, art: !post.link && !post.script}" ng-repeat="post in blog" style="background-image: url({{post.image}})">
        <a href="#!/{{post.link || post.script ? 'code' : 'art'}}/{{post._id}}">
            <div class="overlay">
                <h3>{{post.title}}</h3>
                <date>{{post.date*1000 | date:"longDate"}}</date>
            </div>
        </a>
    </div>
</div>
<div class="loading" ng-class="{active: !blog}">
    <img src="assets/img/loading.svg">
</div>