<img class="loading" ng-show="!blog" src="assets/img/loading.svg">
<div id="blog">
    <div class="post {{post.link || post.script ? 'code' : 'art'}}" ng-repeat="post in blog" style="background-image: url({{post.image}})">
        <a href="#!/{{post.link || post.script ? 'code' : 'art'}}/{{post._id}}">
            <div class="overlay">
                <h3>
                    {{post.title}}
                </h3>
                <date>{{post.date*1000 | date:"longDate"}}</date>
            </div>
        </a>
    </div>
</div>