<div class="page" id="skills">
    <h1>Skill Trees</h1>
    <div class="tree">
        <div class="skill">
            <i class="fake-icon small">.js</i>
            Javascript
        </div>
        <div class="skill top">
            <i class="material-icons">monetization_on</i>
            jQuery
        </div>
        <div class="tree bottom">
            <div class="skill top">
                <i class="material-icons">find_replace</i>
                Angular
            </div>
            <div class="skill top">
                <i class="material-icons">update</i>
                React
            </div>
            <div class="skill top">
                <i class="material-icons">track_changes</i>
                Vue.js
            </div>
            <div class="skill bottom">
                <i class="material-icons">timeline</i>
                Node.js
            </div>
            <div class="skill bottom">
                <i class="material-icons">call_split</i>
                Express
            </div>
        </div>
    </div>
    <div class="tree">
        <div class="skill">
            <i class="material-icons">local_drink</i>
            Elixir
        </div>
        <div class="skill bottom">
            <i class="material-icons">table_chart</i>
            Ecto
        </div>
        <div class="skill top">
            <i class="material-icons">whatshot</i>
            Phoenix
        </div>
    </div>
    <div class="tree">
        <div class="skill">
            <i class="material-icons">functions</i>
            Python
        </div>
        <div class="skill">
            <i class="material-icons">link</i>
            Django
        </div>
    </div>
    <div class="tree">
        <div class="skill">
            <i class="material-icons">code</i>
            HTML/CSS
        </div>
        <div class="skill top">
            <i class="material-icons">line_style</i>
            Sass
        </div>
        <div class="skill bottom">
            <i class="material-icons">format_align_right</i>
            Haml
        </div>
    </div>
    <div class="tree">
        <div class="skill">
            <i class="material-icons">home</i>
            PHP
        </div>
        <div class="skill">
            <i class="material-icons">receipt</i>
            WordPress
        </div>
    </div>
</div>