<div class="page" id="skills">
    <h1>Skill Trees</h1>
    <div class="tree">
        <div class="skill">
            <i class="material-icons">code</i>
            HTML/CSS
        </div>
        <div class="skill">
            <i class="material-icons">brush</i>
            SCSS/SASS
        </div>
    </div>
    <div class="tree">
        <div class="skill bottom">
            <i class="fake-icon small">.js</i>
            Javascript
        </div>
        <div class="tree bottom">
            <div class="skill top">
                <i class="fake-icon">$</i>
                jQuery
            </div>
            <div class="skill bottom">
                <i class="material-icons">find_replace</i>
                Angular
            </div>
            <div class="skill bottom">
                <i class="material-icons">update</i>
                React
            </div>
            <div class="skill bottom">
                <i class="material-icons">exit_to_app</i>
                Vue.js
            </div>
        </div>
    </div>
</div>