html {
  font-size: 20px; }

body {
  font-family: 'Assistant', sans-serif;
  margin: auto;
  font-size: 20px;
  background: #e7e7e7;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  width: 100%;
  color: #333; }

date {
  font-weight: 300;
  display: block; }

a {
  color: #1b9b81;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #5fd3bb; }

.loading {
  margin: 5rem auto;
  text-align: center;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  margin-left: -45px;
  opacity: 0;
  transition: 0.2s;
  z-index: -300; }
  .loading.active {
    opacity: 1; }
  .loading img {
    height: 90px;
    width: 90px; }

.block {
  padding: 1rem;
  background: #f6f6f6; }
  .block.sec {
    background: #f0f0f0; }

.sec {
  background: #f0f0f0; }

#sidebar {
  background: #fff;
  height: 100vh;
  transition: 0.5s; }
  #sidebar:hover label {
    opacity: 1; }
  #sidebar #logo a {
    padding-top: 1rem;
    background: #5fd3bb; }
    #sidebar #logo a:hover {
      background: #333;
      color: #5fd3bb; }
      #sidebar #logo a:hover path:last-child {
        fill: #5fd3bb; }
  #sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #sidebar ul li {
      padding: 0;
      margin: 0; }
      #sidebar ul li a {
        padding: 0.75rem 0.7rem 0.5rem 0.7rem;
        color: #333;
        display: block;
        text-align: center; }
        #sidebar ul li a.sec {
          background: #f0f0f0;
          border-left: 0.5rem solid rgba(51, 51, 51, 0.25); }
        #sidebar ul li a:hover, #sidebar ul li a.active {
          background: #333;
          color: #e7e7e7; }
        #sidebar ul li a i {
          font-size: 1.75rem;
          display: block; }
        #sidebar ul li a label {
          display: block;
          font-size: 0.9rem;
          margin-top: -0.1rem;
          transition: 0.2s;
          opacity: 0;
          font-weight: 300;
          cursor: pointer; }

#content {
  height: 100vh;
  overflow-y: auto;
  padding: 0; }

#art,
#code,
#blog {
  opacity: 0;
  transition: 0.5s;
  padding: 0;
  margin: 0; }
  #art.active,
  #code.active,
  #blog.active {
    opacity: 1; }
  #art .post,
  #code .post,
  #blog .post {
    display: block;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    filter: grayscale(0.8); }
    #art .post:hover,
    #code .post:hover,
    #blog .post:hover {
      filter: grayscale(0); }
    #art .post .overlay,
    #code .post .overlay,
    #blog .post .overlay {
      padding: 1rem 1rem;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 300;
      text-align: right;
      height: 100%;
      box-sizing: border-box;
      background: rgba(51, 51, 51, 0.4); }
  @media (min-width: 30rem) {
    #art .post .overlay,
    #code .post .overlay,
    #blog .post .overlay {
      padding: 2rem 1rem; } }
  @media (min-width: 40rem) {
    #art,
    #code,
    #blog {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 60rem) {
    #art,
    #code,
    #blog {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 80rem) {
    #art,
    #code,
    #blog {
      grid-template-columns: repeat(4, 1fr); } }

#code .post.code,
#blog .post.code {
  background-position: top; }

#post {
  height: 98vh;
  box-sizing: border-box;
  padding: 1rem; }
  #post img {
    max-width: 100%;
    max-height: 100%; }
  #post date {
    margin-bottom: 0.5rem; }
  @media (min-width: 40rem) {
    #post {
      display: grid;
      grid-gap: 1rem;
      grid-template: 1fr / 1fr; }
      #post .body {
        justify-self: center; } }

@media (min-width: 40rem) {
  #post.art {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto; }
    #post.art img,
    #post.art .body {
      box-sizing: border-box;
      grid-column-start: 2;
      z-index: 1000;
      margin: auto; } }
#post.art #prev,
#post.art #next {
  display: none; }
  @media (min-width: 40rem) {
    #post.art #prev,
    #post.art #next {
      display: inline-block;
      align-self: center;
      background: #5fd3bb;
      color: #e7e7e7;
      height: 2em;
      width: 2em;
      box-sizing: border-box;
      transition: 0.2s;
      font-size: 1.9rem; }
      #post.art #prev:hover,
      #post.art #next:hover {
        background: #333;
        color: #5fd3bb; } }
  #post.art #prev i,
  #post.art #next i {
    font-size: inherit;
    vertical-align: middle; }
#post.art #prev {
  justify-self: right;
  margin-right: -1em;
  border-radius: 50% 0 0 50%;
  padding: 0.25em 0.05em; }
#post.art #next {
  justify-self: left;
  margin-left: -1em;
  border-radius: 0 50% 50% 0;
  padding: 0.25em 0.05em 0.25em 0.9em; }

#post.code .hero {
  text-align: center;
  width: 100%; }
@media (min-width: 30rem) {
  #post.code {
    padding: 1rem 3rem; } }
@media (min-width: 40rem) {
  #post.code {
    padding: 1rem;
    grid-template-columns: 50% 50%;
    align-content: center;
    height: 100vh; }
    #post.code .hero {
      justify-self: center;
      max-height: 100%; } }
@media (min-width: 60rem) {
  #post.code {
    grid-template-columns: 1fr 1fr;
    padding: 1rem 3rem; } }
@media (min-width: 80rem) {
  #post.code {
    padding: 2rem 5rem; } }
#post.code .body {
  max-width: 100%; }
  #post.code .body > a {
    max-width: 100%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1rem; }
  #post.code .body .link {
    padding: 0.25rem 0; }
    #post.code .body .link i {
      color: #333;
      font-size: 2rem;
      margin-right: 0.25rem;
      vertical-align: middle; }
  #post.code .body .github {
    padding: 0.25rem 0; }
    #post.code .body .github img {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      vertical-align: middle; }

#contact {
  padding: 1rem; }
  #contact > .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center; }
  #contact img {
    width: 2rem;
    height: auto; }
  #contact i {
    font-size: 2rem; }
  #contact img,
  #contact i {
    margin-bottom: 1rem;
    color: #333; }
  #contact #links {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3; }
    #contact #links a {
      display: inline; }
  @media (min-width: 40rem) {
    #contact {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; }
      #contact .block {
        margin: 0; }
      #contact #links {
        grid-column: span 2;
        grid-row: 3; } }
  @media (min-width: 60rem) {
    #contact {
      padding: 1rem 2rem;
      grid-template-columns: repeat(3, 1fr); }
      #contact #links {
        grid-column: 2 / span 2;
        grid-row: 1 / span 3; } }
  @media (min-width: 80rem) {
    #contact {
      padding: 1rem 5rem;
      grid-template-columns: repeat(4, 1fr); }
      #contact #links {
        grid-column: 3 / span 2;
        grid-row: 1 / span 3; } }

#home {
  padding: 1rem;
  max-width: 75rem;
  margin: auto;
  display: block;
  font-size: 1.3rem;
  box-sizing: border-box; }
  @media (min-width: 60rem) {
    #home {
      padding: 3rem; } }
  @media (min-height: 50rem) {
    #home {
      padding: 5rem 3rem; } }
  @media (min-height: 60rem) {
    #home {
      padding: 7rem 3rem; } }
  #home .block {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #home #bio {
    grid-row: span 2;
    font-size: 1rem;
    line-height: 1.4; }
  #home .art,
  #home .code {
    display: none; }
  #home i {
    margin-bottom: 1rem;
    font-size: 2em;
    color: #333; }
  @media (min-width: 40rem) {
    #home {
      display: grid;
      height: 98vh;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1rem; }
      #home .block {
        margin: 0;
        display: flex; }
      #home .blog,
      #home .contact,
      #home .resume {
        grid-column: span 2; } }

#resume {
  padding: 1rem;
  max-width: 75rem; }
  @media (min-width: 40rem) {
    #resume {
      padding: 2rem; } }
  #resume year,
  #resume #green-border,
  #resume header {
    display: none; }
  #resume header {
    color: #999;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    text-transform: lowercase; }
  #resume job {
    background: #f6f6f6;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem; }
    #resume job h3,
    #resume job h4 {
      margin-top: 0;
      margin-bottom: 0.5rem; }
    #resume job h4 {
      color: rgba(102, 102, 102, 0.8); }
    #resume job ul {
      padding-left: 1.25rem; }
      #resume job ul li {
        margin-bottom: 0.25rem; }
    #resume job tech {
      font-weight: 100; }
      #resume job tech tag {
        margin: 0.5rem 0.5rem 0 0;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        background: rgba(231, 231, 231, 0.8); }
  @media (min-width: 60rem) {
    #resume {
      display: grid;
      grid-template-columns: auto 0.5rem 1fr 1fr;
      grid-gap: 1rem; }
      #resume year {
        grid-row: span 2;
        color: rgba(51, 51, 51, 0.4);
        grid-column: 1;
        font-size: 2rem;
        height: 5rem;
        margin-top: -3rem;
        display: flex;
        align-items: center; }
      #resume #green-border {
        display: block;
        background: #5fd3bb;
        grid-column-start: 2;
        grid-row: 2 / 15; }
      #resume header {
        display: block; }
      #resume job,
      #resume header {
        margin: 0;
        grid-column: span 1; }
        #resume job.lane-1,
        #resume header.lane-1 {
          grid-column-start: 3; }
        #resume job.lane-2,
        #resume header.lane-2 {
          grid-column-start: 4; }
        #resume job.length-2,
        #resume header.length-2 {
          grid-row: span 2; }
        #resume job.length-3,
        #resume header.length-3 {
          grid-row: span 3; }
        #resume job.length-4,
        #resume header.length-4 {
          grid-row: span 4; }
      #resume .align-self-start {
        align-self: start; }
      #resume .align-self-center {
        align-self: center; }
      #resume .align-self-end {
        align-self: end; } }

/*# sourceMappingURL=style.css.map */
