#contact {
    padding: 1rem;
    >.block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        text-align: center;
    }
    img {
        width: 2rem;
        height: auto;
    }
    i {
        font-size: 2rem;
    }
    img,
    i {
        margin-bottom: 1rem;
        color: $black;
    }
    #links {
        grid-column: 3 / span 2;
        grid-row: 1 / span 3;
        a {
            display: inline;
        }
    }
    @media (min-width: $sm-md) {
        .block {
            margin: 0;
        }
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        #links {
            grid-column: span 2;
            grid-row: 3;
        }
    }
    @media (min-width: $md-lg) {
        padding: 1rem 2rem;
        grid-template-columns: repeat(3, 1fr);
        #links {
            grid-column: 2 / span 2;
            grid-row: 1 / span 3;
        }
    }
    @media (min-width: $lg-xl) {
        padding: 1rem 5rem;
        grid-template-columns: repeat(4, 1fr);
        #links {
            grid-column: 3 / span 2;
            grid-row: 1 / span 3;
        }
    }
}